version: "3.8"

services:
  react-app:
    build:
      context: .
      args:
        VITE_BASE_URL: "http://localhost:8080"
    ports:
      - "3000:80"
    environment:
      - VITE_BASE_URL=http://localhost:8080
